.swiper-pagination {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.swiper-pagination ul {
  width: 100%;
  height: auto;
  text-align: center;
}
.swiper-pagination li {
  list-style: none;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 30px;
}
.swiper-pagination li.selected {
  background-color: #e9203d;
}
